#about {
    display: flex;
    justify-content: center;
    padding: 0% 2%;
    align-items: center;
}

#aboutText p {
    font-size: 150%;
    color: var(--primary);
}

#about img {
    margin-top: 2rem;
    margin-left: 10%;
    border-radius: 5rem;
    border-style: solid;
    border-color: var(--secondary);
    max-width: 25%;
    height: auto;
}